/node_modules
/public/hot
/public/storage
/public/media
/public/front/node_modules
/public/back/src/main.js
/public/kbs-ific/node_modules
/public/back/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
